.title{
    font-size:28px;
    color: black;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img{
    height: 495px;
    width: 360px;
    background-size: contain ;
    background-repeat: no-repeat;
}